<ion-view view-title="protected views">
    <ion-content class="padding">
        <div ng-if="!isAuthenticated()">
            <button ng-click="test()" class="button button-block icon-left ion-social-facebook">
                test headers
            </button>
        </div>
        <div ng-if="!isAuthenticated()">
            <button ng-click="logout()" class="button button-block icon-left ion-social-facebook">
                logout
            </button>
        </div>
        <div ng-if="!isAuthenticated()">
            <button ng-click="testUnAuth()" class="button button-block icon-left ion-social-facebook">
                test unauth
            </button>
        </div>
    </ion-content>
</ion-view>
